<owl-carousel-o [options]="customOptions" class="carousel" (change)='getPassedData($event)'>

  <ng-template  carouselSlide>
    <div class="slide screen-1">
      <img src="../../../../../assets/svg/sva-logo.svg" alt="">
      <span class="H3">- You First</span>
    </div>
  </ng-template>
  <ng-template class="carousel" carouselSlide>
    <div class="slide screen-2">
      <div class="hero__row">
        <div class="imagePlaceHolder">
        </div>
        <div class="heading__row">
          <h1 class="H2">Welcome to Svā</h1>
        </div>
        <div class="caption__row">
          <span class="B2">Svā is a wellness platform focused on holistic 
            development. We believe wellness is a journey 
            involving all senses.</span>
        </div>
      </div>

    </div>
  </ng-template>
  <ng-template class="carousel" carouselSlide>
    <div class="slide screen-2">
      <div class="hero__row">
        <div class="imagePlaceHolder">
        </div>
        <div class="heading__row">
          <h1 class="H2">Vitals</h1>
        </div>
        <div class="caption__row">
          <span class="B2">Record, track and easily share your body’s vitals with family and medical professionals..</span>
        </div>
      </div>

    </div>
  </ng-template>

  <ng-template class="carousel" carouselSlide>
    <div class="slide screen-2">
      <div class="hero__row">
        <div class="imagePlaceHolder">
        </div>
        <div class="heading__row">
          <h1 class="h2">Journey</h1>
        </div>
        <div class="caption__row">
          <span class="B2">A journey, to better understand yourself, is 
            made up of multiple paths. Select curated 
            paths to work on, engage your senses and 
            achieve your wellness goals.</span>
        </div>
        <div class="cta__row">
          <button class="" mat-flat-button routerLink='/login' color="primary">Continue</button>

        </div>
      </div>

    </div>
  </ng-template>
  

</owl-carousel-o>
