
.carousel{
  height: 100% !important;
}  



//OWL 
::ng-deep .owl-nav  {
  position: absolute  !important;
  left: 0  !important;;
  width: 100%  !important;;
  display: flex  !important;;
  justify-content: space-between  !important;;
 
}
::ng-deep .disabled{
  width: 39px  !important;;
  border-radius: 100%  !important;;
  height: 39px  !important;;
  background: #333333  !important;;
  font-size: 40px  !important;;
  display: inline-block  !important;;
  margin-left: 20px  !important;;
  visibility: hidden;
}
::ng-deep.owl-next{
  padding: 0px !important;
  width: 39px  !important;; 
  border-radius: 100%  !important;;
  height: 39px  !important;;
  font-size: 40px  !important;;
  display: inline-block  !important;;
  img{
    width: 100%;
  }
}
::ng-deep.owl-prev{
  padding: 0px !important;
  width: 39px  !important;; 
  border-radius: 100%  !important;;
  height: 39px  !important;;
  background: #FE7C7B  !important;;
  font-size: 40px  !important;;
  display: inline-block  !important;;
}
::ng-deep .owl-dots{
  width: 120px;
  margin: auto;
  margin-top: 15px;
  height: 20px;
  display: flex;
  overflow: hidden;
  span{
    background: #E0E0E0 !important;
  }
  .active{
    span{
      background-color: #FE7C7B !important;

    }
  }
}

  ::ng-deep .owl-theme{
    height: 100% !important;
  }
  ::ng-deep.owl-stage-outer{
    height: calc(100% - 87.5px) !important  ;
  }
::ng-deep .owl-stage{
  display: flex !important;

}

::ng-deep .owl-prev{
    // background: url('../../../../../assets/svg/left-arrow.svg') no-repeat !important;
  margin: 0px 20px !important;
  }
::ng-deep .owl-next{
  // background: url('../../../../../assets/svg/right-arrow.svg') no-repeat !important;
  margin: 0px 20px !important;

}
::ng-deep .ng-tns-c19-0{
  height: 100% !important;
}
.imagePlaceHolder{
  height: 160px;
  width: 160px;
  background: lightblue;
}
// Screen1
.slide{
  height: 100%;

}
.screen-1{
  display: flex;
  justify-content: center;
  align-items: center;
 img{
  width: 45.18px;
 }

}
.screen-2{
  margin-top: 142px;
.imagePlaceHolder{
  margin: auto;
}
.heading__row{
  margin: 0px 24px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
   
}
.caption__row{
  margin: 0px 20px;
 
}
.cta__row{
  margin: 36px 20px;
  button{
    // background: #FE7C7B;
    width: 100%;
    color: white;
    margin-top: 20px;
  }
}
}