<!-- <ng-template #simpleBtn>
  <button 
  [type]="type"
  (click)="clickBtn($event)"
  [disabled]="disabled"
  matRipple
  color="primary"
  class="rm-btn" [ngClass]="
  {
      'primary': (role == 'primary'),
      'secondary': (role == 'secondary'),
      'tertiary': (role == 'tertiary'),
      'customColor': (role == 'custom')
  }">

    <span [ngClass]="{'btnValue' : icon != null}">
      <ng-container *ngTemplateOutlet="simpleBtn"> </ng-container>

    </span>
  </button>
</ng-template> -->
<ng-template #simpleBtn>

</ng-template>
<ng-container *ngTemplateOutlet="simpleBtn"> </ng-container>
