.wrap {
    margin-bottom: 18px;
    margin-top: 18px;
    height: 1px;
    position: relative;
}
h2.centre-line {
    text-align:center;
    position: absolute;
    left:50%;
    width:100%;
    transform:translate(-50%, -50%);
}
h2.centre-line:before {
    content:"";
    position: absolute;
    width: 100%;
    height: 1px;
    top:50%;
    left:0;
    z-index:-1;
    background: #828282;
}
h2.centre-line span {
    background-color: white;
    padding: 7px;
    font-size: 14px;
    display: inline-block;
}