<owl-carousel-o [options]="customOptions" (change)='getPassedData($event)'>
  <ng-template carouselSlide>
    <div class="slide screen-2">
      <div class="hero__row">
        <div class="imagePlaceHolder">
        </div>
       
        <div class="caption__row">
          <span>Thank you for choosing Svā. We’re thrilled to
            have you. Help us learn more about you..</span>
        </div>
      </div>

    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide screen-3">
      <div class="hero__row">
        <h1>Gender</h1>
        <p>Select your gender</p>
      </div>
      <div class="body__row">
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button color='primary' value="1">Male</mat-radio-button>
          <mat-radio-button color='primary' value="2">Female</mat-radio-button>
          <mat-radio-button color='primary' value="3">Other</mat-radio-button>
          <mat-radio-button color='primary' value="4">Prefer not to say</mat-radio-button>
        </mat-radio-group>
      </div>

    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide screen-3">
      <div class="hero__row">
        <h1>I Live</h1>
        <p>This may form, or be a part of your support 
          system.</p>
      </div>
      <div class="body__row">
        <mat-radio-group class='group-radio' aria-label="Select an option">
          <mat-radio-button color='primary' value="1">With immediate family</mat-radio-button>
          <mat-radio-button color='primary' value="2">With extended family</mat-radio-button>
          <mat-radio-button color='primary' value="3">By myself</mat-radio-button>
          <mat-radio-button color='primary' value="4">With roomate/s</mat-radio-button>
        </mat-radio-group>
      </div>

    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide screen-3">
      <div class="hero__row">
        <h1>What are your hobbies?</h1>
        <p>Please select from the options below or add 
          your own..</p>
      </div>
      <div class="body__row">
        <section class="example-section" >
            <mat-checkbox color='primary'class="example-margin">Check me!</mat-checkbox>
            <mat-checkbox  color='primary'class="example-margin">Disabled</mat-checkbox>
          
          
         
        </section>
        
      </div>

    </div>
  </ng-template>
  

</owl-carousel-o>
<div class="tiny-controls">
  <div class="prev-tiny"*ngIf='displayTinyPrevNotation'>
  </div>
  <div class="next-tiny"*ngIf='displayTinyNextNotation'>
  </div>
</div>


<!-- <div class="controls">
  <div class="prev-container">
    <img src="../../../assets/svg/left-arrow.svg" alt="">
  </div>
  <div class="bullet-container">
    <div [ngClass]="{'activeBullet': currentPosition === i,'inactiveBullet': currentPosition != i}" class="bullets"
      *ngFor='let item of [].constructor(4); let i = index'>

    </div>
  </div>
  <div class="next-container">
    <img src="../../../assets/svg/right-arrow.svg" alt="">

  </div>

</div> -->
