@import '../../theme/theme.scss';

.conatiner-fluid{
    height: 100%;
    .header{
        height: 66px;
    display: flex;
    padding: 20px;
    background: #FFF5EB;
    align-items: center;
    img{
        margin-right: 16px;
    }
}
.body{
    padding: 20px;

    }
}