<div class="conatiner-fluid">
  <div class="header">
    <img src="../../../assets/svg/backButton.svg" alt="">
    <span class="H4">Screening Questionairre</span>
  </div>
  <div class="body">
    <p class="H4">Do you have feaver?</p>

    <mat-radio-group aria-label="Select an option">
      <mat-radio-button color='primary' value="1">Male</mat-radio-button>
      <mat-radio-button color='primary' value="2">Female</mat-radio-button>
      <mat-radio-button color='primary' value="3">Other</mat-radio-button>
      <mat-radio-button color='primary' value="4">Prefer not to say</mat-radio-button>
    </mat-radio-group>
  </div>
</div>