<div class="container-fluid">
  <div class="top__row">
    <p class="H2">Discover</p>
  </div>
  <div class="track__row">
    <p class="S1">Tracks</p>
    <span class="trackContainer"></span>
  </div>
  <div class="vital__row">
    <p class="S1">Vitals</p>
    <span class="vitalContainer"></span>
  </div>
  <div class="covid__row">
    <p class="S1">Covid-19</p>
    <span class="covidContainer">
      <div class="caption">
        <p class="H5">Fight the coronavirus spread with a simple self screening tool</p>
      </div>
      <div class="cta__row">
        <button mat-flat-button  class="sva-secondary-btn"  routerLink="/auth/covid">
          Start Screening
        </button>
        <span class="repeat__screening">Repeat Screening</span>
      </div>
    </span>
  </div>
</div>