

  .carousel-inner {
    transition: .3s;
    display: inline-flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    top: 0;
  }
  .carousel-item{
    min-width: 100%;
    height: 100%;
    padding-left: 20px;
  padding-right: 20px;
  }
  section{
  width: 100%;
  height: calc(100% - 100px);
  
}
  .carousel-wrapper {
    overflow: hidden;
    
  }


  .controls{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    .prev-container{
      height: 38px;
      width: 38px;
    }
    .bullet-container{
      display: flex;
      width: 130px;
      align-items: center;
      max-height: 20px;
      justify-content: center;
      margin: auto;
      overflow: hidden;
      
      .bullets{
        width: 9px;
        height: 9px;
        margin-left: 7.5px;
        border-radius: 100%;
        margin-right: 7.5px;
        display: inline-block;
      }
      .activeBullet{
        background-color: #c2bebe;
      }
      .inactiveBullet{
        background-color: #E0E0E0;

      }
    }
    .next-container{
      height: 30px;
      width: 38px;

    }
  }
