@import '../../../../assets/scss/variables.scss';
@import '../../../../assets/scss/mat-input.scss';
.login-container{
    padding: 28px 20px;
    box-sizing: border-box;
    height: 100%;
    .heading{
        margin-bottom: 18px;
    }
    .subheading{
        margin-bottom: 24px;
    }
    .mobileNumber__container{
        width: 100%;
        margin-bottom: 18px;
    }
    .generateOTP{
        margin-bottom: 32px;
        display: block;
    }
    .ternary{
        text-align: center;
        span{
            font-weight: bold;
            text-decoration: underline;
        }
    }
}

