.container-fluid{
    padding: 0px;
    margin: 0px;
    height: 100%;
    .body{
        height: calc(100% - 56px);
    overflow: scroll;
    }
    .footer{
        height: 56px;
        display: flex;
        margin-left: 42px;
        justify-content: space-between;
        margin-right: 42px;
    .icon__container{
        width: 56px;
        flex-direction: column;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: fit-content;
        }

    }
    .checkin{
        margin-top: -25px;
    background: red;
    z-index: 1000;
    border-radius: 100%;
    }   
 }
}